<div _ngcontent-abe-c157="" class="col-12 col-md-4 ng-star-inserted">
  <!-- <tc-contact _ngcontent-abe-c157="" _nghost-abe-c155="" class="tc-contact"> -->
  <div class="img-box ng-star-inserted"><img alt=""
      src="assets/content/doctor-400-1.jpg" width="400" height="400"></div>
  <!---->
  <div class="info-box">
    <h4 class="name">Dr. {{doctor.firstName}} {{doctor.lastName}}</h4>
    <p class="role">{{doctor.role}}</p>
    <div class="social ng-star-inserted">
      <!-- <aclass="icofont-instagram link ng-star-inserted" href="#"></aclass=> -->
      <!-- <a class="icofont-facebook link ng-star-inserted" href="#"></a> -->
      <!-- <a class="icofont-twitter link ng-star-inserted" href="#"></a> -->
      <!---->
      <!---->
    </div>
    <!---->
    <!-- <p class="address">795 Folsom Ave, Suite 600 San Francisco, CADGE 94107</p> -->
    <!-- <div class="button-box ng-star-inserted"><a
        href="#/vertical/doctor-profile" tc-button="" _nghost-abe-c47="" class="tc-btn btn-accent"><span
          _ngcontent-abe-c47="" class="btn-line"></span>
        <span _ngcontent-abe-c47="" class="btn-text">View profile</span>
      </a></div> -->
    <!---->
  </div>
  <!-- </tc-contact> -->
</div>
